@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;500;700;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "inter", sans-serif;
}
html{
    height: 100%;
}
.container{
    max-width: 1140px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
}
.header{
    background: url(../images/bg.png) center / cover no-repeat;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}
.logo{
    text-decoration: none;
    color: #fff;
    font-size: 30px;
    font-family: cursive;
}
.header__lists{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__item:not(:last-child){
    margin-right: 30px;
}
.header__link{
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #FFFFFF;
    opacity: 0.8;
}
.header__btns{
    align-items: center;
}
.header__btn{
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #FFFFFF;
    padding: 15px 30px;
    background: #FF5A05;
    border-radius: 4px;
}
.header__link.active, .header__link:hover{
    line-height: 160%;
    color: #FFFFFF;
    opacity: 1;
}
.intro{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.intro__img{
    height: 560px;
    margin-right: -80px;
}
.intro__row__left{
    padding-bottom: 60px;
}
.intro__left__text{
    font-weight: 500;
    font-size: 19px;
    line-height: 160%;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 18px;
}
.intro__left__title{
    font-weight: 400;
    font-size: 50px;
    line-height: 120%;
    color: #FFFFFF;
}
.intro__text__primary{
    font-weight: bold; 
    font-size: 55px; 
}
hr{
    box-shadow: none;
    margin: 30px 0;
}
.intro__left__desc{
    font-size: 16px;
    line-height: 160%;
    color: #FFFFFF;
    opacity: 0.7;
}
.intro__btns{
    margin-top: 40px;
}
.intro__btn-2{
    background: none;
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.social__body{
   margin-top: 100px;
   margin-bottom: 50px;
   text-align: center;
}
.social__logo{
    padding: 15px 35px;
    height: 60px;
    background: #FFFFFF;
    box-shadow: 1px 4px 12px rgba(0, 0, 0, 0.08);
    margin-right: 60px;
}
.social__media{
    display: block;
}
.media-2{
    margin-top: 50px;
}
.comments__body{
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
}
.comments__row__right{
    margin-top: 50px;
}
.comments__text{
    font-weight: 500;
    font-size: 17px;
    line-height: 160%;
    text-transform: uppercase;
    color: #FF5A05;
    opacity: 0.8;
    margin-bottom: 15px;
}
.comments__title{
    font-weight: bold;
    font-size: 30px;
    line-height: 120%;
    color: #353535;
    margin-bottom: 15px;
}
.checkbox__text{
    display: flex;
    align-items: center;
}
.checkbox__text:first-child{
    margin-right: 20px;
}
.checkbox{
    display: flex;
    margin: 20px 0;
}
.comments__btns{
    margin-top: 40px;
}
.far{
    margin-right: 10px;
}
.comments__desc{
    font-size: 16px;
    line-height: 160%;
    color: #000000;
    opacity: 0.7;
}
.clients__body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    background: url(../images/clients.png);
}
.clients__img{
    width: 230px;
}
.blogs{
    margin-top: 50px;
    margin-bottom: 80px;
    background: #FFF9F5;
    width: 100%;    
    padding: 30px 0 60px 0;
}
.blogs__body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.blogs__text{
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FF5A05;
}
.blogs__title{
    font-weight: bold;
    font-size: 26px;
    line-height: 130%;
    margin-top: 15px;
}
.blogs__desc{
    font-size: 16px;
    line-height: 160%;
    color: #05000B;
    opacity: 0.7;
    margin-top: 10px;
}
.blog__row__title{
    font-weight: 500;
    font-size: 20px;
    line-height: 160%;
    color: #05000B;
    margin-top: 15px;
}
.blog__row__text{
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: #05000B;
    opacity: 0.7;
    margin-top: 10px;
}
.row-2{
    padding: 50px;
    background: #4252CF;
    border-radius: 10px;
}
.title-2{
    color: #fff
}
.text-2{
    color: #fff;
    font-size: 16px; 
}
.row:not(:nth-child(1), :nth-child(2)){
    padding: 50px;
    background: #FFFFFF;
    border: 2px solid rgba(66, 82, 207, 0.1);
    box-sizing: border-box;
    border-radius: 10px;
}
.row{
    margin-top: 50px;
}
.users__title{
    font-weight: bold;
    font-size: 40px;
    line-height: 120%;
    color: #05000B;    
}
.users__body{
    text-align: center;
    margin-bottom: 50px;
}
.users__text{
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    color: #05000B;
    opacity: 0.7;
    margin-top: 10px;
}
.users__img{
    width: 100%;
    max-width: 1000px;
    margin-top: 70px;
}
.plan{    
    padding-top: 50px;
    position: relative;
}
.plan::before{
    content: '';
    position: absolute;
    background: #EBEDFF;
    height: 400px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}
.plan__body{
    text-align: center;
}
.plan__title{
    font-weight: bold;
    font-size: 31px;
    line-height: 160%;
    text-align: center;
    color: #05000B;
    margin-bottom: 30px;
}
.plan__btn{
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    padding: 15px 30px;
    background: #FF5A05;
    border-radius: 10px;
}
.plan__btn:not(:last-child){
    margin-right: 25px;
}
.plan__btn:nth-child(2){
    color: #FF5A05;
    background: rgba(255, 90, 5, 0.1);
    border-radius: 10px;
}
.plan__btns{
    background: #FFFFFF;
    border-radius: 10px;
    padding: 20px 15px;
    max-width: max-content;
    margin: 0 auto;
}
.plan__lists{
    list-style: none;
    margin-top: 30px;
}
.plan__rows{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.plan__row{
    background: #FFFFFF;
    border: 1px solid rgba(31, 55, 255, 0.1);
    border-radius: 10px;
    padding: 0 30px 30px 30px;
}
.plan__row:not(:last-child){
    margin-right: 100px;
}
.plan__row__text{
    font-weight: 600;
    font-size: 31px;
    line-height: 160%;
    text-align: center;
    color: #05000B;
}
.plan__row__title{
    font-weight: bold;
    font-size: 80px;
    line-height: 120%;
    text-align: center;
    color: #1F37FF;
    margin-top: 10px;
}
.plan__row__desc{
    font-weight: 500;
    font-size: 20px;
    line-height: 160%;
    text-align: center;
    color: #05000B;
    margin-top: 10px;
}
.plan__item .far{
    color: #1F37FF;
}
.plan__item{
    margin-top: 10px;
    font-weight: 500;
    font-size: 15px;
    line-height: 160%;
    text-align: left;
    color: #05000B;
    margin-right: -20px;
}
.plan__row__btns{
    margin-top: 30px;
}
.plan__row__btn{
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    text-align: center;
    color: #FFFFFF;
    padding: 13px 60px;
    background: #FF5A05;
    border-radius: 10px;
    position: relative;
}
.letter{
    margin-top: 70px;
}
.letter__body{
    background: url(../images/letter__bg.png);
    min-height: 350px;
    text-align: center;
    align-items: center;
    border-radius: 50px;
}
.letter__text{
    font-weight: 600x;
    font-size: 18px;
    line-height: 160%;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FF5A05;
    margin-bottom: 15px;
}
.letter__texts{
    padding-top: 140px;
    padding-bottom: 70px; 
}
.letter__title{
    font-weight: 600;
    font-size: 30px;
    line-height: 130%;
    text-align: center;
    color: #05000B;
    margin-bottom: 40px;
}
.letter__label input{
    background: none;
    border: none;
    padding: 15px 25px;
    border: 1px solid rgba(5, 0, 11, 0.1);
    border-radius: 4px 4px 0 0;
    height: 55px;
}
.letter__btn{
    cursor: pointer;
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    padding: 15px 30px;
    background: #FF5A05;
    border-radius: 0 4px 4px 0;
    border: none;
    margin-left: -5px;
    color: #fff;
}
.footer{
    margin-top: 120px;
    background: url(../images/footer__bg.png) center / cover;
}
.footer__body{
    display: flex;
    justify-content: space-between; 
}
.footer__body{
    padding: r50px;
}
.footer__icons{
    margin-top: 30px;
}
.fab{
    color: #fff;
}
.fab:not(:last-child){
    margin-right: 7px;
}
.footer__row__title{
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: #FFFFFF;
}
.footer__lists{
    list-style: none;
    margin-top: 10px;
}
.footer__link{
    text-decoration: none;
    font-weight: 300;
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    color: #FFFFFF;
}